<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="orangehrmlogin">
		<classes>
			<class name="testngdemo.OrangeHRM">
				<methods>
					<include name="lunchapp"></include>
					<include name="enterlogindetails"></include>
					<include name="verifylogin"></include>
				</methods>
			</class>
		</classes>
	</test>
	<test name="orangehrmMYinfo">
		<classes>
			<class name="testngdemo.OrangeHRM">
				<methods>
					<include name="lunchapp"></include>
					<include name="enterlogindetails"></include>
					<include name="navigatetomyinfo"></include>
					<include name="verifymyinfo"></include>
				</methods>
			</class>
		</classes>
	</test>
	<test name="testgoogle">
		<classes>
			<class name="testngdemo.firstTest">
				<methods>
					<include name="testgoogle"></include>

				</methods>
			</class>
		</classes>
	</test>
</suite> 
